body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
main{
    padding: 20px;
}
h1 {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.gallery img {
    width: 200px;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
nav {
    display: flex;
    justify-content: center;
    background-color: #666;
    padding: 10px 0;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
}
nav a:hover {
    text-decoration: underline;
}
.gallery img {
    width: 512px;
    height: 512px;
    object-fit: cover;
}
.painting {
    background-color: #f2f2f2;
    text-align: justify;
    display: block;
    padding: 20px;

}
.gallery-text {
    display: flex;
    justify-content: space-around;
}
.photography {
    background-color: #f2f2f2;
    text-align: justify;
    display: block;
    padding: 20px;

}
.sculpture {
    background-color: #f2f2f2;
    text-align: justify;
    display: block;
    padding: 20px;

}
.painting-link {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    outline: none;
    text-decoration: none;
    color: #000;
}
.painting-link:hover {
    color: #a5a5a5;
}
.sculpture-link {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    outline: none;
    text-decoration: none;
    color: #000;
}
.sculpture-link:hover {
    color: #a5a5a5;
}
.photography-link {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    outline: none;
    text-decoration: none;
    color: #000;
}
.photography-link:hover {
    color: #a5a5a5;
}
.text-sculpture {
    text-align:justify;
    text-indent: 5em;
    margin-left: 10px;
}
.sculpture-types{
    text-align:justify;
    line-height: 1.5em;
    margin-left: 10px;
}
.title-sculpture {
    text-align: center;

}
.painting-text {
    text-align:justify;
    text-indent: 5em;
    margin-left: 10px;
}
.painting-different-styles {
    text-align:justify;
    text-indent: 5em;
    margin-left: 10px;
}
.painting-free-expressions {
    text-align:justify;
    text-indent: 5em;
    margin-left: 10px;
}
.paragraph-rinascita {
    text-align:justify;
    text-indent: 5em;
    margin-left: 10px;
}
.paragraph-revival {
    text-align:justify;
    text-indent: 5em;
    margin-left: 10px;

}
.text-classic {
    text-align:justify;
    text-indent: 5em;
    margin-left: 10px;
}
.revival-img {
    width: 256px;
    height: 256px;
    float: right;
    margin: 7px 0 7px 7px;
    border-radius: 7px;
}
.img-barroko {
    width: 256px;
    height: 256px;
    float: left;
    margin: 7px 7px 7px 0;
    border-radius: 7px;
}
.img-classic {
    width: 256px;
    height: 256px;
    float: right;
    margin: 7px 7px 7px 0;
    border-radius: 7px;
    
}
.painting-link {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    outline: none;
    text-decoration: none;
    color: #000;
}
.painting-link:hover {
    color: #a5a5a5;
}
.sculpture-link {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    outline: none;
    text-decoration: none;
    color: #000;
}
.sculpture-link:hover {
    color: #a5a5a5;
}
.photography-link {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    outline: none;
    text-decoration: none;
    color: #000;
}
.photography-link:hover {
    color: #a5a5a5;
}
.image-sculpture1{
    width: 256px;
    height: 256px;
    border-radius: 7px;
}
.image-sculpture2{
    width: 256px;
    height: 256px;
    border-radius: 7px;
}
.image-sculpture3{
    width: 256px;
    height: 256px;
    border-radius: 7px;
}
.image-sculpture4{
    width: 256px;
    height: 256px;
    border-radius: 7px;
}
.in-space-sculpture-types{
    line-height: 1.5em;
    margin-left: 10px;
    text-align:justify;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.size-sculpture-types{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;
    line-height: 1.5em;
    text-align:justify;
}
.material-sculpture-types{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;
    line-height: 1.5em;
    text-align:justify;
}
.genre-sculpture-types{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;
    line-height: 1.5em;
    text-align:justify;
}
.text-sculpture{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;
    line-height: 1.5em;
    text-align:justify;

}
.table-sculpture{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.genres-list{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;
    line-height: 1.5em;
    text-align:justify;

}
.photo-1{
    display: block;
    margin: 0 auto;
    
}
.photo-1:hover img{
    opacity: 0.5;
}
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.modal-content img{
    display: block;
    margin: 0 auto;
}
.close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
.close-button:hover{
    color: #ccc;
}