body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    background-color: #fdf4e1;
    margin: 0;
    padding: 0;
    
}
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
main{
    padding: 20px;
}
.h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    
    
}
.hover-text-one {
    overflow: hidden;
    margin: 0;
    width: 100%;
    list-style: none;
    text-align: center;
}
.hover-text-one figure {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}
.hover-text-one figure img {
    position: relative;
    display: flex;
    min-height: 100%;
    opacity: 0.8;
}
.hover-text-one figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
    pointer-events: none;
}
.hover-text-one figure figcaption{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hover-text-one figure a {
    word-spacing: -0.15em;
    font-weight: 300;
}
.hover-text-one figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
    text-align: justify;

}
figure.effect-text-one figcaption{
    top: auto;
    bottom: 0;
    height: 50%;
    text-align: left;
}
figure.effect-text-one h3,
figure.effect-text-one p {
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);

}
figure.effect-text-one h3 {
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
}
figure.effect-text-one p {
    color: rgba(255,255,255,0.8);
    color: #2c2c2c;
    padding: 10px;
    opacity: 0;
    -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
    transition: opacity 0.2s, transform 0.35s;
}
figure.effect-text-one:hover img,
figure.effect-text-one:hover p {
    opacity: 1;
}
figure.effect-text-one:hover img,
figure.effect-text-one:hover h3,
figure.effect-text-one:hover p {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
figure.effect-text-one:hover p {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}
.painting-text {
    text-align: justify;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #666;
    padding: 10px 0;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
}
nav a:hover {
    text-decoration: underline;
}
.gallery img {
    width: 512px;
    height: 512px;
    object-fit: cover;
}
.painting {
    background-color: #3a3939;
    text-align: justify;
    display: block;
    padding: 20px;

}
.gallery-text {
    display: flex;
    justify-content: space-around;
}
.photography {
    background-color: #f2f2f2;
    text-align: justify;
    display: block;
    padding: 20px;

}
.sculpture {
    background-color: #f2f2f2;
    text-align: justify;
    display: block;
    padding: 20px;

}
.painting-link {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    outline: none;
    text-decoration: none;
    color: #666666;
}
.painting-link:hover {
    color: #000000;
}
.sculpture-link {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    outline: none;
    text-decoration: none;
    color: #000;
}
.sculpture-link:hover {
    color: #a5a5a5;
}
.photography-link {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    outline: none;
    text-decoration: none;
    color: #000;
}
.photography-link:hover {
    color: #a5a5a5;
}
.text-sculpture {
    text-align:justify;
    text-indent: 5em;
    margin-left: 10px;
}
.sculpture-types{
    text-align:justify;
    line-height: 1.5em;
    margin-left: 10px;
}
.title-sculpture {
    text-align: center;

}
.painting-text {
    text-align:justify;
    text-indent: 5em;
    margin-left: 10px;
}
.painting-different-styles {
    text-align:justify;
    text-indent: 5em;
    margin-left: 10px;
}
.painting-free-expressions {
    text-align:justify;
    text-indent: 5em;
    margin-left: 10px;
}
.paragraph-rinascita {
    text-align:justify;
    text-indent: 5em;
    margin-left: 10px;
}
.paragraph-revival {
    text-align:justify;
    text-indent: 5em;
    margin-left: 10px;

}
.text-classic {
    text-align:justify;
    text-indent: 5em;
    margin-left: 10px;
}
.revival-img {
    width: 256px;
    height: 256px;
    float: right;
    margin: 7px 0 7px 7px;
    border-radius: 7px;
}
.img-barroko {
    width: 256px;
    height: 256px;
    float: left;
    margin: 7px 7px 7px 0;
    border-radius: 7px;
}
.img-classic {
    width: 256px;
    height: 256px;
    float: right;
    margin: 7px 7px 7px 0;
    border-radius: 7px;
    
}
.painting-link {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    outline: none;
    text-decoration: none;
    color: #000;
}
.painting-link:hover {
    color: #a5a5a5;
}
.sculpture-link {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    outline: none;
    text-decoration: none;
    color: #000;
}
.sculpture-link:hover {
    color: #a5a5a5;
}
.photography-link {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 32px;
    outline: none;
    text-decoration: none;
    color: #000;
}
.photography-link:hover {
    color: #a5a5a5;
}
.image-sculpture1{
    width: 256px;
    height: 256px;
    border-radius: 7px;
}
.image-sculpture2{
    width: 256px;
    height: 256px;
    border-radius: 7px;
}
.image-sculpture3{
    width: 256px;
    height: 256px;
    border-radius: 7px;
}
.image-sculpture4{
    width: 256px;
    height: 256px;
    border-radius: 7px;
}
.in-space-sculpture-types{
    line-height: 1.5em;
    margin-left: 10px;
    text-align:justify;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.size-sculpture-types{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;
    line-height: 1.5em;
    text-align:justify;
}
.material-sculpture-types{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;
    line-height: 1.5em;
    text-align:justify;
}
.genre-sculpture-types{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;
    line-height: 1.5em;
    text-align:justify;
}
.text-sculpture{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;
    line-height: 1.5em;
    text-align:justify;

}
.table-sculpture{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.genres-list{
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;
    line-height: 1.5em;
    text-align:justify;

}
.photo-1{
    display: block;
    margin: 0 auto;
    
}
.photo-1:hover img{
    opacity: 0.5;
}
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.modal-content img{
    display: block;
    margin: 0 auto;
}
.close-button{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
.close-button:hover{
    color: #ccc;
}